* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Machina;
    font-weight: 400;       
    color: rgba(21, 21, 21, 1);
}
@font-face {
    font-family: Machina;
    src: url(images/machina.ttf/PPNeueMachina-PlainRegular.otf);
}
@font-face {
    font-family: Machina-bold;
    src: url(images/machina.ttf/PPNeueMachina-PlainUltrabold.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;